<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShellCoinForMerchant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCAC5D191E8268B4003CACF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCAC5D351E8268B4003CACF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCAC5D401E8268B4003CACF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
